<div class="artist-card">
  {{#if images}}
    <img src="{{images.0.url}}" alt="Picture of {{name}}">
  {{else}}
    <img src="/images/default-artist.png" alt="Placeholder artist picture">
  {{/if}}
  <h2>{{name}}</h2>
  <button onclick="window.location.href='/albums/{{id}}'">View Albums</button>
</div>