<section id="albumsList">
{{#each artistAlbums}}
  <p>{{name}}</p>
  <img src="{{images.1.url}}" alt="{{name}} cover">
  <a href="/artists/{{artists.[0].id}}/albums/{{id}}">View tracks</a>
{{/each}}
</section>