<section id="artistsList">
{{#each artists}}
  <p>{{name}}</p>
  {{#if images.1.url}}
    <img src="{{images.1.url}}" alt="{{name}} cover">
  {{else}}
    <img src="/img/no_image_available.png" alt="No image available" cover>
  {{/if}}
  <a href="/artists/{{id}}/albums">View albums</a>
{{/each}}
</section>