<section class="artistsList">
  {{#if this.body.artists.items}}
    {{#each this.body.artists.items}}
      <a href="/albums/{{id}}">
        <article class="artistCard">
          {{#if images}}
          <img src= {{images.0.url}}>
          {{else}}
          <img src= "./images/912.jpg">
          {{/if}}
          <p>{{name}}</p>
          <div class="button">View albums</div>
        </article>
      </a>
    {{/each}}
  {{else}}
  <div class="no-results">
    <h1>No results</h1>
    <p>There's no results matching your search</p>
    <a href="/" class="button return">Return</a>
  </div>
  {{/if}}
</section>