<h1>This is the artists information</h1>
<a href="/" class="button return">Search for another artist</a>
<div class="artist-list-container">
  {{#if this.artists.items}}
  {{#each this.artists.items}}
  <div class="artist-container">
    {{#if images}}
    <img src={{images.0.url}}>
    {{else}}
    <img src="./images/Spotify.jpg">
    {{/if}}
    <p>{{name}}</p>
    <div class="artist-view-album-btn">
      <a href="/albums/{{id}}">View albums</a>
    </div>
  </div>
  {{/each}}
  {{else}}
  <div class="no-results">
    <h1>No results</h1>
    <p>We couldn't find anything, try again</p>
    <a href="/" class="button return">Search for another artist</a>
  </div>
  {{/if}}
</div>